h1 {
    color: green;
}

img {
width: 250px;
height: 250px;
}

input{
 border: 1px solid #ccc;
 padding: 8px;   
}

button{
    cursor: pointer;
    border: 1px solid #888;
    background: #888;
    color: white;
    padding: 8px;
}